<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <meta name="theme-color" content="#009e99" class="next-head"/>
    <meta property="og:title" content="Deatt" class="next-head"/>
    <meta property="og:description" content="Get amazing food from your restaurants delivered in about 30 minutes or less." class="next-head"/>
    <meta property="og:image" content="https://res.cloudinary.com/deatt/image/upload/v1539981500/share.jpg" class="next-head"/>
    <meta property="twitter:card" content="summary_large_image" class="next-head"/>
    <meta property="twitter:site" content="@deattapp" class="next-head"/>
    <meta property="twitter:title" content="Deatt" class="next-head"/>
    <meta property="twitter:description" content="Get amazing food from your restaurants delivered in about 30 minutes or less." class="next-head"/>
    <meta property="twitter:image" content="https://res.cloudinary.com/deatt/image/upload/v1539981500/share.jpg" class="next-head"/>
    <title data-n-head="true">Deatt || Best Campus Food Delivery Network</title>
    <link data-n-head="true" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Deatt doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
