<template>
  <div class="bgimg">
  <div class="topleft">
    <logo />
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>{{countdown}}</p>
    <img class="img-fluid" src="./assets/deatt_dish.png" alt="">
  </div>
  <div class="bottomleft">
    <p>Best Campus Food Delivery Network - Get your  food delivered to you anywhere and fast</p>
  </div>
</div>
</template>

<script>
import logo from './components/logo.vue'

export default {
  name: 'app',
  data() {
    return {
      countdown: '',
    }
  },
  components: {
    logo
  },
  methods: {
    
  },
  created() {
    var countDownDate = new Date("Nov 21, 2018 10:00:00").getTime();

    const ref = this;
    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();
        
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Output the result in an element with id="demo"
        ref.countdown = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
        
        
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            ref.countdown = "READY";
        }
    }, 1000);
    x;
  }
}
</script>

<style>
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
}

.bgimg {
    /* Background image */
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    /* color: white; */
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 12px;
    left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
    font-size: 15px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}
.middle img {
  height: 150px;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}
</style>
